<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment1">
        <activity
            android:name=".DoctorSettings"
            android:exported="false" />
        <activity
            android:name=".DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".ViewHistory"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".PatientForms"
            android:exported="false" />
        <activity
            android:name=".PatientRegister"
            android:exported="false" />
        <activity
            android:name=".DoctorRegister"
            android:exported="false" />
        <activity
            android:name=".PatientOrDoctor"
            android:exported="false" />
        <activity
            android:name=".DoctorMainScreen"
            android:exported="false" />
        <activity
            android:name=".PatientHomeScreen"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>